<template>
  <div class="topnav">
    <nuxt-link exact active-class="active" to="/">
      Главная
    </nuxt-link>
    <nuxt-link active-class="active" to="/courses">
      Список курсов
    </nuxt-link>
  </div>
</template>
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4caf50;
  color: white;
}
</style>
