<template>
  <section>
      <h1>Курс по {{course.title }}</h1>

      <p>{{ course.description }}</p>
      <p>{{ course.price }}</p>
      <p>{{ course.startDate }}</p>
  </section>
</template>

<script>

export default {
  validate({params}) {
    return /^\d+$/.test(params.id)
  },
  computed: {
    course() {
      return this.$store.getters['courses/courseById'](this.$route.params.id);
    }
  },
}
</script>

<style>

</style>