<template>
  <section>
    <h1>Курсы</h1>

    <table>
      <thead>
        <tr>
          <th>Название</th>
          <th>Описание</th>
          <th @click="sort('price')">Цена</th>
          <th @click="sort('startDate')">Дата начала курса</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="course in sortedCourses" :key="course.id">
          <td>{{ course.title }}</td>
          <td>{{ course.description }}</td>
          <td>{{ course.price }}</td>
          <td>{{ course.startDate }}</td>
        </tr>
      </tbody>
    </table>
    <p>
      <button @click="prevPage" :disabled="cantGoBack">Предыдущая</button>
      <button @click="nextPage">Следующая</button>
    </p>
  </section>
</template>

<script>
export default {
  async fetch({ store }) {
    if (store.getters["courses/courses"].length === 0) {
      await store.dispatch("courses/fetchCourses");
    }
  },
  data() {
    return {
      currentSort: "name",
      currentSortDir: "asc",
      pageSize: 2,
      currentPage: 1
    };
  },
  computed: {
    cantGoBack() {
      return this.currentPage === 1;
    },
    getCourses() {
      return this.$store.getters["courses/courses"];
    },
    sortedCourses: function() {
      return [...this.getCourses]
        .sort((a, b) => {
          let modifier = 1;
          if (this.currentSortDir === "desc") modifier = -1;
          if (a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
          if (a[this.currentSort] > b[this.currentSort]) return 1 * modifier;
          return 0;
        })
        .filter((row, index) => {
          let start = (this.currentPage - 1) * this.pageSize;
          let end = this.currentPage * this.pageSize;
          if (index >= start && index < end) return true;
        });
    }
  },
  methods: {
    openCourse(course) {
      this.$router.push("/courses/course/" + course.id);
    },
    sort: function(s) {
      if (s === this.currentSort) {
        this.currentSortDir = this.currentSortDir === "asc" ? "desc" : "asc";
      }
      this.currentSort = s;
    },
    nextPage() {
      if (this.currentPage * this.pageSize < this.getCourses.length)
        this.currentPage++;
    },
    prevPage() {
      if (this.currentPage > 1) {
        this.currentPage--;
      }
    }
  }
};
</script>

<style>
td,
th {
  padding: 0.25rem;
}

th {
  cursor: pointer;
}
</style>
